vendor/
core/
.DS_Store
.idea/
.env
.htaccess
salts.php
wp-content/debug.log
wp-content/uploads/*
wp-content/languages/*
wp-content/plugins/*
wp-content/mu-plugins/
*/*/*/node_modules
wp-content/advanced-cache.php
wp-content/cache/
wp-content/updraft/
wp-content/wflogs/
wp-content/wp-rocket-config/*
wp-content/themes/twentytwenty/
wp-content/themes/understrap/
wp-content/themes/index.php
