// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1440px
) !default;

$modal-xl:                    1440px !default;

//
// Color system
//

$primary:                     #7242E0;
$corona-yellow:               #F6F061;
$corona-white:                #FFFFFF;
$corona-primary-light:        #8064D5;
$corona-primary-lighter:      #8F81CB;
$corona-primary-light-blue:   #F1F3F8;
$corona-primary-dark:         #2D0E89;
$corona-white:                #FFFFF8;

$purple_heart:                $primary;
$true_v:                      $corona-primary-light;
$blue_gem:                    $corona-primary-dark;
$portica:                     $corona-yellow;
$catskill_white:              $corona-primary-light-blue;


  //
// Typography
//

$font-size-base:              1.375rem;
$font-family-base:            upgrade, sans-serif !default;
$font-weight-normal:          300 !default;


/*
AVAILABLE FONTS:

 */
