// blue-gem
// true-v
// portica
// purple-heart

.has-blue-gem-color {
  color: $blue_gem;
}

.has-blue-gem-background-color {
  background-color: $blue_gem;
}

.has-portica-color {
  color: $portica;
}

.has-portica-background-color {
  background-color: $portica;
}

.has-true-v-color {
  color: $true_v;
}

.has-true-v-background-color {
  background-color: $true_v;
}

.has-purple-heart-color {
  color: $purple_heart;
}

.has-purple-heart-background-color {
  background-color: $purple_heart;
}
