// blue-gem
// true-v
// portica
// purple-heart

:root .has-blue-gem-color {
  color: $blue_gem;
}

.has-blue-gem-background-color {
  background-color: $blue_gem;
}

:root .has-portica-color {
  color: $portica;
}

.has-portica-background-color {
  background-color: $portica;
}

:root .has-true-v-color {
  color: $true_v;
}

.has-true-v-background-color {
  background-color: $true_v;
}

:root .has-purple-heart-color {
  color: $purple_heart;
}

.has-purple-heart-background-color {
  background-color: $purple_heart;
}

:root .has-catskill-white-color {
  color: $catskill_white;
}

.has-catskill-white-background-color {
  background-color: $catskill_white;
}
