// CONTENT-7 BLOCK

.content-7 h1{
  padding: 46px 41px 27px 132px;
  background-color:#fff;
  margin-right:-137px;
}
.content-7 .wp-block-media-text {
  max-width:80% !important;
  margin:0 auto;
}
.content-7 .wp-block-media-text img{
  height:509px;
}

