.navbar-brand {
  font-size: 1.875rem;
  img.img-fluid {
    width: 70px;
  }
}

.navbar-dark .navbar-nav {
  .nav-link {
    font-size: 1.75rem;
    color: $corona-white;
  }
  .active>.nav-link {
    color: $corona-yellow;
  }
}

.main-menu {
  font-size: 1.375rem;
  background-color: $corona-primary-light;

  @media (min-width: 768px) {
    .navbar-collapse {
      display: flex;
    }
  }

  .nav-link:first-child {
    text-align: left;
    padding-left: 0;
  }
  .nav-link:last-child {
    text-align: right;
    padding-right: 0;
  }
  a {
    color: $corona-white;
  }
  .active a {
    color: $corona-yellow;
  }
}

.nav-link:focus, .nav-link:hover,
nav a:hover {
  text-decoration: underline;
}

.slack-link {
  white-space: nowrap;
}
