
.navbar-brand {
  font-size: 1.875rem;
  img.img-fluid {
    width: 70px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.75rem;
}

.main-menu {
  font-size: 1.375rem;
  background-color: $corona-primary-light;

  .nav-link:first-child {
    text-align: left;
    padding-left: 0;
  }
  .nav-link:last-child {
    text-align: right;
    padding-right: 0;
  }
  a {
    color: $corona-white;
  }
  .active a {
    color: $corona-yellow;
  }
}

nav a:hover {
  text-decoration: underline;
}
